\.idea
\PyVenv\
desktop.ini
\.run
*\__pychache__
*.pyc
/SOL_Client_Connector/dist/
/SOL_Client_Connector/src/SOL_Client_Connector_Package.egg-info/
/dist/
/Resources/
/setup.py
/pyproject.toml
/src/SOL_Client_Connector_Package.egg-info/
